body{
  padding: 0px;
  margin: 0px;
  background-image: url("back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.top{
  width: auto;
  height: 52px;
  padding: 20px 0px 0px 0px;
}
.top a{
  text-decoration: none;
  text-align: justify;
  font-size: 22px;
  margin: 13.2em;
  font-weight: bold;
}
.top a:hover{
  color: yellow;
}
.mid{
  width: 100%;
  height: 500px;
  padding: 0px;
}
.mid img{
  margin-top: 2em;
  margin-left: 35.5em;
}
.bottom{
  width: auto;
  height: 60px;
}
.bottom a{
  text-decoration: none;
  color: red;
  font-size: 24px;
  margin-left: 11.5em;
}
.bottom img{
  width: 80px;
  height: 65px;
}
.bottom img:hover{

}
